<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KintoneDeSql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KintoneDeSql.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KintoneDeSql.Properties.Settings>
            <setting name="KintoneDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneAccessId" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneAccessPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneLoginId" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IsExtact" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrimaryCode" serializeAs="String">
                <value>True</value>
            </setting>
        </KintoneDeSql.Properties.Settings>
        <KintoneDeSql.Settings>
            <setting name="KintoneDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneAccessId" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneAccessPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneLoginId" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneLoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="KintoneApiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
        </KintoneDeSql.Settings>
    </userSettings>
</configuration>